@charset "utf-8";

div{
    margin:0 auto;
}

h3{
    border-bottom:2px;
    border-color:#5fc
}

input{
    height:30px;
    padding:0px; 
}

.line{
    border-bottom:1px;
    border-color:#5fc;
}

textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
}
.contact-submit{
    background-color:#55ffcc;
    width: 400px;
}